<nav id="contents">

  <div>
    <h1>Contents</h1>
    <ul>
      <li><a href="/">Introduction</a></li>
      <li><a href="/chapter1">1 - Preparing your book for publication</a></li>
      <li>
        <a href="/chapter2/">2 - eBooks</a>
        <ul>
          <li><a href="/chapter2/#chapter2_1">2:1 - Pros and cons	</a></li>
          <li><a href="/chapter2/#chapter2_2">2:2 - Publishing your own eBook</a></li>
          <li><a href="/chapter2/#chapter2_3">2:3 - Using an assisted publisher</a></li>
        </ul>
      </li>
      <li>
        <a href="/chapter3/">3 - Producing your own physical book</a>
        <ul>
          <li><a href="/chapter3/#chapter3_1">3:1 - How to approach a publisher</a></li>
          <li><a href="/chapter3/#chapter3_2">3:2 - How to publish your own book</a></li>
        </ul>
      </li>
      <li><a href="/chapter4/">4 - How to market your book</a></li>
      <li><a href="/prologue/">Prologue</a></li>
    </ul>
  </div>

  <div class="suggest">
    <a href="https://docs.google.com/a/stinkyink.com/spreadsheet/viewform?formkey=dEZTc09CSDA2V2h3QVNsV19JTV9KQVE6MQ" rel="popup"><strong>Did We miss something?</strong> Suggest updates, additions and revisions. <u>Click here</u></a>
  </div>

  <p class="credits">
    <strong>a Stinkyink.com Production</strong>
    <a href="http://www.stinkyinkshop.co.uk" title="ink cartridges"><img src="/img/stinkyink.png" alt="Ink Cartridges" title="Ink Cartridges" width="100%" /></a>
  </p>

</nav>