<nav id="contents">

  <div>
    <h1>Contents</h1>
    <ul class="parent">
      <li><a class="button" href="/book-publishing-guide/"><strong>Introduction</strong> What to expect from this guide</a></li>
      <li id="c1">
        <a class="button" href="/book-publishing-guide/chapter1/"><strong>Chapter 1</strong> Preparing your book for publication</a>
        <ul>
          <li><a href="/book-publishing-guide/chapter1/#c1_1">Proofreading and Copy Editing</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_2">Tax Tips</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_3">Avoiding Plagiarism</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_4">Copyright Concerns</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_5">Digital Rights Management (DRM)</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_6">ISBN Details</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_7">Barcode Information</a></li>
          <li><a href="/book-publishing-guide/chapter1/#c1_8">Writing A Bio</a></li>
        </ul>  
      </li>
      <li id="c2">
        <a class="button" href="/book-publishing-guide/chapter2/"><strong>Chapter 2</strong> Publishing an eBook</a>
        <ul>  
          <li><a href="/book-publishing-guide/chapter2/#c2_1">Advantages and Disadvantages</a></li>
          <li><a href="/book-publishing-guide/chapter2/#c2_2">Self Publishing an eBook</a>
            <ul>
              <li><a href="/book-publishing-guide/chapter2/#c2_2_1">Cover Design Tips</a></li>
              <li><a href="/book-publishing-guide/chapter2/#c2_2_2">eBook File Formats</a></li>
              <li><a href="/book-publishing-guide/chapter2/#c2_2_3">Where To Publish Your eBook</a></li>
            </ul>
          </li>
          <li>
            <a href="/book-publishing-guide/chapter2/#c2_3">Using An Assisted Publisher for an eBook</a>
            <ul>
              <li><a href="/book-publishing-guide/chapter2/#c2_3_1">Where To Start</a></li>
              <li><a href="/book-publishing-guide/chapter2/#c2_3_2">How To Select An Assisted Publisher</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li id="c3">
        <a class="button" href="/book-publishing-guide/chapter3/"><strong>Chapter 3</strong> Producing your own physical book</a>
        <ul>
          <li><a href="/book-publishing-guide/chapter3/#c3_1">How To Approach A Traditional Publisher</a></li>
          <li><a href="/book-publishing-guide/chapter3/#c3_2">Finding An Agent</a></li>
          <li><a href="/book-publishing-guide/chapter3/#c3_3">Self Publishing A Hardcopy Book</a>
            <ul>
              <li><a href="/book-publishing-guide/chapter3/#c3_3_1">Self Printing & Binding</a></li>
              <li><a href="/book-publishing-guide/chapter3/#c3_1_2">Print-On-Demand Services</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li id="c4">
        <a class="button" href="/book-publishing-guide/chapter4/"><strong>Chapter 4</strong> How to market your book</a>
        <ul>
          <li><a href="/book-publishing-guide/chapter4/#c4_1">Online Book Marketing Tips</a></li>
          <li><a href="/book-publishing-guide/chapter4/#c4_2">Real World Book Marketing Tips</a></li>
        </ul>
      </li>
      <li><a class="button" href="/book-publishing-guide/prologue/"><strong>Prologue</strong> What comes next?</a></li>
    </ul>
  </div>

  <div class="suggest">
    <a href="https://docs.google.com/a/stinkyink.com/spreadsheet/viewform?formkey=dEZTc09CSDA2V2h3QVNsV19JTV9KQVE6MQ" rel="popup"><strong>Did We miss something?</strong> Suggest updates, additions and revisions. <u>Click here</u></a>
  </div>

  <p class="credits">
    <strong>a Stinkyink.com Production</strong>
    <a href="http://www.stinkyinkshop.co.uk" title="ink cartridges"><img src="/book-publishing-guide/img/stinkyink.png" width="240" height="78" alt="Ink Cartridges" title="Ink Cartridges" width="100%" /></a>
  </p>       

</nav>