<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/book-publishing-guide/css.css" type="text/css" />
		<!--[if lte IE 9]>
		  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/book-publishing-guide/ie.css" type="text/css" />
	  <![endif]-->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script>
	  $(function(){
	    $("a[rel=external]").prop("target", "_blank");
	  });
	  </script>
	</head>
	<body id="{{ page.id }}">
	  
	  <header>
	    <h1><a href="/book-publishing-guide/">A Complete Guide To Publishing Your Own Book</a></h1>
	  </header>
	  
	  <div id="wrapper">

      <div id="the_content">
        <section class="chapter">
          {{ content }}
          
          <hr />
          
          {% if page.prevpath or page.nextpath %}
            <div id="prevnext">
              {% if page.prevpath %}
                <a href="/book-publishing-guide{{page.prevpath}}">&laquo; {{page.prevlabel}}</a>
              {% endif %}
              {% if page.nextpath %}
                <a href="/book-publishing-guide{{page.nextpath}}">{{page.nextlabel}} &raquo;</a>
              {% endif %}
            </div>
          {% endif %}
          
        </section>
        
        <section class="chapter comments">
          <h1>Tell us what you think... leave a comment:</h1>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'stinkyink'; // required: replace example with your forum shortname
              var disqus_identifier = 'pubguide';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>

      </div>

      <!-- contents -->
      {% include contents.html %}

    </div>

    <footer>
      <p>&copy; 2012 Stinkyink.com</p>
    </footer>

      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1917156-11']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);


      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>          