<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css.css" type="text/css" />
		<!--[if lt IE 9]>
		  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="robots" content="noindex, nofollow" />
	</head>
	<body>
	  
	  <header>
	    <h1>The Stinkyink Guide to Self Publishing Your Book</h1>
	  </header>
	  
	  <div id="wrapper">

      <div id="the_content">
        <section class="chapter" id="">
          {{ content }}
        </section>

      </div>

      <nav id="contents">

        <h1>Contents</h1>

        <ul>
          <li><a href="/">Introduction</a></li>
          <li><a href="/chapter1">1 - Preparing your book for publication</a></li>
          <li>
            <a href="/chapter2/">2 - eBooks</a>
            <ul>
              <li><a href="/chapter2/#chapter2_1">2:1 - Pros and cons	</a></li>
              <li><a href="/chapter2/#chapter2_2">2:2 - Publishing your own eBook</a></li>
              <li><a href="/chapter2/#chapter2_3">2:3 - Using an assisted publisher</a></li>
            </ul>
          </li>
          <li>
            <a href="/chapter3/">3 - Producing your own physical book</a>
            <ul>
              <li><a href="/chapter3/#chapter3_1">3:1 - How to approach a publisher</a></li>
              <li><a href="/chapter3/#chapter3_2">3:2 - How to publish your own book</a></li>
            </ul>
          </li>
          <li><a href="/chapter4/">4 - How to market your book</a></li>
          <li><a href="/prologue/">Prologue</a></li>
        </ul>

        <p class="credits">
          <strong>a Stinkyink.com Production</strong>
          <img src="/img/stinkyink.png" alt="Ink Cartridges" title="Ink Cartridges" width="100%" />
        </p>

        <p class="suggest">
          <a href="https://docs.google.com/a/stinkyink.com/spreadsheet/viewform?formkey=dEZTc09CSDA2V2h3QVNsV19JTV9KQVE6MQ" rel="popup"><strong>Did We miss something?</strong> Suggest updates, additions and revisions. <u>Click here</u></a>
        </p>

      </nav>

    </div>

    <footer>
      <p>&copy; 2012 Stinkyink.com</p>
    </footer>

  </body>
</html>          