<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css.css" type="text/css" />
		<!--[if lt IE 9]>
		  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body id="{{ page.id }}">
	  
	  <header>
	    <h1><a href="/">A Complete Guide To Publishing Your Own Book</a></h1>
	  </header>
	  
	  <div id="wrapper">

      <div id="the_content">
        <section class="chapter" id="">
          {{ content }}
          
          <hr />
          
          {% if page.prevpath or page.nextpath %}
            <div id="prevnext">
              {% if page.prevpath %}
                <a href="{{page.prevpath}}">&laquo; {{page.prevlabel}}</a>
              {% endif %}
              {% if page.nextpath %}
                <a href="{{page.nextpath}}">{{page.nextlabel}} &raquo;</a>
              {% endif %}
            </div>
          {% endif %}
          
        </section>

      </div>

      <!-- contents -->
      {% include contents.html %}

    </div>

    <footer>
      <p>&copy; 2012 Stinkyink.com</p>
    </footer>

  </body>
</html>          